{
  "openapi": "3.1.0",
  "info": {
    "title": "SendFlit API",
    "version": "1.0.0",
    "description": "Public v1 REST API for sending and managing transactional email."
  },
  "servers": [
    {
      "url": "https://api.sendflit.com"
    }
  ],
  "paths": {
    "/v1/keys": {
      "get": {
        "summary": "List Keys",
        "operationId": "list_keys_v1_keys_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      },
      "post": {
        "summary": "Create Key",
        "operationId": "create_key_v1_keys_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeyIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/keys/{key_id}": {
      "put": {
        "summary": "Update Key",
        "description": "Rename a key, or change what an agent key may do. Takes effect on its\nnext request.",
        "operationId": "update_key_v1_keys__key_id__put",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Key Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeyPatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Revoke Key",
        "operationId": "revoke_key_v1_keys__key_id__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Key Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/domains": {
      "get": {
        "summary": "List Domains",
        "operationId": "list_domains_v1_domains_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      },
      "post": {
        "summary": "Add Domain",
        "operationId": "add_domain_v1_domains_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/domains/{domain_id}/records": {
      "get": {
        "summary": "Domain Records",
        "description": "Full DNS record set for manual setup (neutral, white-label).",
        "operationId": "domain_records_v1_domains__domain_id__records_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Domain Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/domains/{domain_id}": {
      "put": {
        "summary": "Update Domain",
        "description": "Change the Return-Path subdomain. The records move with it, so the\ndomain goes back to waiting on DNS for them.",
        "operationId": "update_domain_v1_domains__domain_id__put",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Domain Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainPatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/domains/{domain_id}/deliverability": {
      "get": {
        "summary": "Domain Deliverability",
        "description": "A 0-100 deliverability score with the specific, actionable reasons\nbehind it.",
        "operationId": "domain_deliverability_v1_domains__domain_id__deliverability_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Domain Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/domains/{domain_id}/deliverability/assistant": {
      "get": {
        "summary": "Domain Deliverability Assistant",
        "description": "The same score, read by the AI layer into a one-paragraph plain-\nlanguage explanation and a single prioritized next step — for someone\nwho wants \"what do I actually do\" rather than a checklist.",
        "operationId": "domain_deliverability_assistant_v1_domains__domain_id__deliverability_assistant_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Domain Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/domains/{domain_id}/verify": {
      "post": {
        "summary": "Verify Domain",
        "description": "`recheck=true` is the Verify button itself (not the page's own\npolling): also asks the mail provider to look at the Return-Path records again now.",
        "operationId": "verify_domain_v1_domains__domain_id__verify_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Domain Id"
            }
          },
          {
            "name": "recheck",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Recheck"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/suppressions": {
      "get": {
        "summary": "List Suppressions",
        "operationId": "list_suppressions_v1_suppressions_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      },
      "post": {
        "summary": "Add Suppression",
        "operationId": "add_suppression_v1_suppressions_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuppressionIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      },
      "delete": {
        "summary": "Remove Suppression",
        "operationId": "remove_suppression_v1_suppressions_delete",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/email": {
      "post": {
        "summary": "Send",
        "description": "Send one email. Pass an `Idempotency-Key` header on retry-sensitive\ncalls: retrying the exact same request with the same key replays the\noriginal result (including a prior failure) instead of sending twice. Reusing the key with a different body is rejected as a client error.",
        "operationId": "send_v1_email_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Idempotency-Key"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/app__api__SendIn"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/emails/batch": {
      "post": {
        "summary": "Send Batch",
        "description": "Send up to 100 emails in one call. The `Idempotency-Key` header (see\n/email above) covers the whole batch — retrying the same batch with the\nsame key replays the original per-item results rather than resending.",
        "operationId": "send_batch_v1_emails_batch_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Idempotency-Key"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchIn"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/emails/{email_id}": {
      "delete": {
        "summary": "Cancel Scheduled",
        "operationId": "cancel_scheduled_v1_emails__email_id__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "email_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Email Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get Email",
        "operationId": "get_email_v1_emails__email_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "email_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Email Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/emails": {
      "get": {
        "summary": "List Emails",
        "operationId": "list_emails_v1_emails_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/webhooks": {
      "get": {
        "summary": "List Webhooks",
        "operationId": "list_webhooks_v1_webhooks_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      },
      "post": {
        "summary": "Create Webhook",
        "operationId": "create_webhook_v1_webhooks_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/webhooks/{wid}": {
      "delete": {
        "summary": "Delete Webhook",
        "operationId": "delete_webhook_v1_webhooks__wid__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "wid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Wid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/usage": {
      "get": {
        "summary": "Usage",
        "operationId": "usage_v1_usage_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AcceptInviteIn": {
        "properties": {
          "password": {
            "type": "string",
            "minLength": 8,
            "title": "Password"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          }
        },
        "type": "object",
        "required": [
          "password"
        ],
        "title": "AcceptInviteIn"
      },
      "ActionIn": {
        "properties": {
          "note": {
            "type": "string",
            "title": "Note",
            "default": ""
          }
        },
        "type": "object",
        "title": "ActionIn"
      },
      "AddonCheckoutIn": {
        "properties": {
          "addon": {
            "type": "string",
            "title": "Addon"
          }
        },
        "type": "object",
        "required": [
          "addon"
        ],
        "title": "AddonCheckoutIn"
      },
      "AiAutomationIn": {
        "properties": {
          "description": {
            "type": "string",
            "title": "Description"
          }
        },
        "type": "object",
        "required": [
          "description"
        ],
        "title": "AiAutomationIn"
      },
      "AiComposeIn": {
        "properties": {
          "prompt": {
            "type": "string",
            "title": "Prompt"
          },
          "tone": {
            "type": "string",
            "title": "Tone",
            "default": "professional"
          }
        },
        "type": "object",
        "required": [
          "prompt"
        ],
        "title": "AiComposeIn"
      },
      "AiProviderIn": {
        "properties": {
          "kind": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Kind"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "base_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Base Url"
          },
          "workspace_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Workspace Id"
          },
          "model": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Model"
          },
          "api_key": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Api Key"
          }
        },
        "type": "object",
        "title": "AiProviderIn"
      },
      "AiRoutingIn": {
        "properties": {
          "primary": {
            "type": "string",
            "title": "Primary"
          },
          "fallback": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fallback"
          }
        },
        "type": "object",
        "required": [
          "primary"
        ],
        "title": "AiRoutingIn"
      },
      "AiSegmentIn": {
        "properties": {
          "description": {
            "type": "string",
            "title": "Description"
          }
        },
        "type": "object",
        "required": [
          "description"
        ],
        "title": "AiSegmentIn"
      },
      "AiSubjectsIn": {
        "properties": {
          "subject": {
            "type": "string",
            "title": "Subject"
          },
          "context": {
            "type": "string",
            "title": "Context",
            "default": ""
          }
        },
        "type": "object",
        "required": [
          "subject"
        ],
        "title": "AiSubjectsIn"
      },
      "AiTestIn": {
        "properties": {
          "kind": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Kind"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "base_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Base Url"
          },
          "workspace_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Workspace Id"
          },
          "model": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Model"
          },
          "api_key": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Api Key"
          },
          "id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Id"
          }
        },
        "type": "object",
        "title": "AiTestIn"
      },
      "AppealIn": {
        "properties": {
          "message": {
            "type": "string",
            "maxLength": 2000,
            "minLength": 1,
            "title": "Message"
          }
        },
        "type": "object",
        "required": [
          "message"
        ],
        "title": "AppealIn"
      },
      "ApplyBrandIn": {
        "properties": {
          "design": {
            "additionalProperties": true,
            "type": "object",
            "title": "Design"
          },
          "theme_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Theme Id"
          }
        },
        "type": "object",
        "required": [
          "design"
        ],
        "title": "ApplyBrandIn"
      },
      "AttachmentIn": {
        "properties": {
          "filename": {
            "type": "string",
            "title": "Filename"
          },
          "content_b64": {
            "type": "string",
            "title": "Content B64"
          },
          "content_type": {
            "type": "string",
            "title": "Content Type",
            "default": "application/octet-stream"
          }
        },
        "type": "object",
        "required": [
          "filename",
          "content_b64"
        ],
        "title": "AttachmentIn"
      },
      "AutomationIn": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name"
          },
          "trigger": {
            "type": "string",
            "title": "Trigger",
            "default": "contact.added"
          },
          "audience": {
            "type": "string",
            "title": "Audience",
            "default": "default"
          },
          "event_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Event Name"
          },
          "list_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "List Id"
          },
          "steps": {
            "items": {
              "$ref": "#/components/schemas/AutomationStep"
            },
            "type": "array",
            "title": "Steps"
          },
          "goal_event": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 100
              },
              {
                "type": "null"
              }
            ],
            "title": "Goal Event"
          },
          "goal_window_days": {
            "type": "integer",
            "maximum": 90.0,
            "minimum": 1.0,
            "title": "Goal Window Days",
            "default": 14
          },
          "holdout_percent": {
            "type": "integer",
            "maximum": 50.0,
            "minimum": 0.0,
            "title": "Holdout Percent",
            "default": 0
          },
          "active": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Active"
          },
          "from_email": {
            "anyOf": [
              {
                "type": "string",
                "format": "email"
              },
              {
                "type": "null"
              }
            ],
            "title": "From Email"
          }
        },
        "type": "object",
        "required": [
          "name",
          "steps"
        ],
        "title": "AutomationIn"
      },
      "AutomationStep": {
        "properties": {
          "action": {
            "type": "string",
            "title": "Action"
          },
          "minutes": {
            "type": "integer",
            "title": "Minutes",
            "default": 0
          },
          "template_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Template Name"
          },
          "condition": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Condition"
          },
          "yes": {
            "items": {
              "$ref": "#/components/schemas/AutomationStep"
            },
            "type": "array",
            "title": "Yes",
            "default": []
          },
          "no": {
            "items": {
              "$ref": "#/components/schemas/AutomationStep"
            },
            "type": "array",
            "title": "No",
            "default": []
          }
        },
        "type": "object",
        "required": [
          "action"
        ],
        "title": "AutomationStep"
      },
      "BatchIn": {
        "properties": {
          "emails": {
            "items": {
              "$ref": "#/components/schemas/app__api__SendIn"
            },
            "type": "array",
            "maxItems": 100,
            "title": "Emails"
          }
        },
        "type": "object",
        "required": [
          "emails"
        ],
        "title": "BatchIn"
      },
      "BrandThemeIn": {
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 80,
            "minLength": 1,
            "title": "Name",
            "default": "Brand"
          },
          "theme": {
            "additionalProperties": true,
            "type": "object",
            "title": "Theme",
            "default": {}
          },
          "footer": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 500
              },
              {
                "type": "null"
              }
            ],
            "title": "Footer"
          },
          "logo_url": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 1000
              },
              {
                "type": "null"
              }
            ],
            "title": "Logo Url"
          },
          "is_default": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Is Default"
          }
        },
        "type": "object",
        "title": "BrandThemeIn"
      },
      "BroadcastIn": {
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 200,
            "title": "Name",
            "default": "Untitled broadcast"
          },
          "subject": {
            "type": "string",
            "maxLength": 500,
            "title": "Subject",
            "default": ""
          },
          "html": {
            "type": "string",
            "title": "Html",
            "default": ""
          },
          "text": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Text"
          },
          "design": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Design"
          },
          "from_email": {
            "anyOf": [
              {
                "type": "string",
                "format": "email"
              },
              {
                "type": "null"
              }
            ],
            "title": "From Email"
          },
          "from_name": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 120
              },
              {
                "type": "null"
              }
            ],
            "title": "From Name"
          },
          "reply_to": {
            "anyOf": [
              {
                "type": "string",
                "format": "email"
              },
              {
                "type": "null"
              }
            ],
            "title": "Reply To"
          },
          "preview_text": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 300
              },
              {
                "type": "null"
              }
            ],
            "title": "Preview Text"
          },
          "audience": {
            "type": "string",
            "title": "Audience",
            "default": "default"
          },
          "segment_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Segment Id"
          },
          "list_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "List Id"
          },
          "filter": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Filter"
          },
          "scheduled_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Scheduled At"
          },
          "goal_event": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 100
              },
              {
                "type": "null"
              }
            ],
            "title": "Goal Event"
          },
          "goal_window_days": {
            "type": "integer",
            "maximum": 90.0,
            "minimum": 1.0,
            "title": "Goal Window Days",
            "default": 14
          },
          "autopilot": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Autopilot"
          },
          "send": {
            "type": "boolean",
            "title": "Send",
            "default": false
          }
        },
        "type": "object",
        "title": "BroadcastIn"
      },
      "BroadcastSendIn": {
        "properties": {
          "scheduled_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Scheduled At"
          }
        },
        "type": "object",
        "title": "BroadcastSendIn"
      },
      "CheckoutIn": {
        "properties": {
          "plan": {
            "type": "string",
            "title": "Plan"
          },
          "interval": {
            "type": "string",
            "enum": [
              "month",
              "year"
            ],
            "title": "Interval",
            "default": "month"
          }
        },
        "type": "object",
        "required": [
          "plan"
        ],
        "title": "CheckoutIn"
      },
      "ContactIn": {
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "title": "Email"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "audience": {
            "type": "string",
            "title": "Audience",
            "default": "default"
          },
          "unsubscribed": {
            "type": "boolean",
            "title": "Unsubscribed",
            "default": false
          },
          "properties": {
            "additionalProperties": true,
            "type": "object",
            "title": "Properties",
            "default": {}
          },
          "lists": {
            "anyOf": [
              {
                "additionalProperties": {
                  "type": "boolean"
                },
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Lists"
          }
        },
        "type": "object",
        "required": [
          "email"
        ],
        "title": "ContactIn"
      },
      "DefaultsIn": {
        "properties": {
          "default_from_email": {
            "anyOf": [
              {
                "type": "string",
                "format": "email"
              },
              {
                "type": "null"
              }
            ],
            "title": "Default From Email"
          }
        },
        "type": "object",
        "title": "DefaultsIn"
      },
      "DeleteAccountIn": {
        "properties": {
          "password": {
            "type": "string",
            "title": "Password"
          }
        },
        "type": "object",
        "required": [
          "password"
        ],
        "title": "DeleteAccountIn"
      },
      "DesignIn": {
        "properties": {
          "design": {
            "additionalProperties": true,
            "type": "object",
            "title": "Design"
          },
          "annotate": {
            "type": "boolean",
            "title": "Annotate",
            "default": false
          },
          "dark_preview": {
            "type": "boolean",
            "title": "Dark Preview",
            "default": false
          }
        },
        "type": "object",
        "required": [
          "design"
        ],
        "title": "DesignIn"
      },
      "DomainIn": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name"
          },
          "return_path": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Return Path"
          }
        },
        "type": "object",
        "required": [
          "name"
        ],
        "title": "DomainIn"
      },
      "DomainPatch": {
        "properties": {
          "return_path": {
            "type": "string",
            "title": "Return Path"
          }
        },
        "type": "object",
        "required": [
          "return_path"
        ],
        "title": "DomainPatch"
      },
      "EventIn": {
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "title": "Email"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "properties": {
            "additionalProperties": true,
            "type": "object",
            "title": "Properties",
            "default": {}
          }
        },
        "type": "object",
        "required": [
          "email",
          "name"
        ],
        "title": "EventIn"
      },
      "FolderIn": {
        "properties": {
          "kind": {
            "type": "string",
            "title": "Kind",
            "default": "broadcast"
          },
          "name": {
            "type": "string",
            "maxLength": 80,
            "minLength": 1,
            "title": "Name"
          }
        },
        "type": "object",
        "required": [
          "name"
        ],
        "title": "FolderIn"
      },
      "ForgotPasswordIn": {
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "title": "Email"
          }
        },
        "type": "object",
        "required": [
          "email"
        ],
        "title": "ForgotPasswordIn"
      },
      "FormIn": {
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 120,
            "title": "Name",
            "default": "Signup form"
          },
          "audience": {
            "type": "string",
            "maxLength": 120,
            "title": "Audience",
            "default": "default"
          },
          "list_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "List Id"
          },
          "double_opt_in": {
            "type": "boolean",
            "title": "Double Opt In",
            "default": false
          },
          "style": {
            "additionalProperties": true,
            "type": "object",
            "title": "Style",
            "default": {}
          }
        },
        "type": "object",
        "title": "FormIn"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "KeyIn": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "default": "default"
          },
          "scope": {
            "type": "string",
            "title": "Scope",
            "default": "full"
          },
          "policy": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Policy"
          }
        },
        "type": "object",
        "title": "KeyIn"
      },
      "KeyPatch": {
        "properties": {
          "name": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 120,
                "minLength": 1
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "policy": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Policy"
          }
        },
        "type": "object",
        "title": "KeyPatch"
      },
      "LifecycleReviewIn": {
        "properties": {
          "message": {
            "type": "string",
            "maxLength": 1000,
            "title": "Message",
            "default": ""
          }
        },
        "type": "object",
        "title": "LifecycleReviewIn"
      },
      "ListIn": {
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 100,
            "minLength": 1,
            "title": "Name"
          },
          "description": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 500
              },
              {
                "type": "null"
              }
            ],
            "title": "Description"
          },
          "is_public": {
            "type": "boolean",
            "title": "Is Public",
            "default": true
          }
        },
        "type": "object",
        "required": [
          "name"
        ],
        "title": "ListIn"
      },
      "ListMembersIn": {
        "properties": {
          "emails": {
            "items": {
              "type": "string",
              "format": "email"
            },
            "type": "array",
            "maxItems": 1000,
            "minItems": 1,
            "title": "Emails"
          }
        },
        "type": "object",
        "required": [
          "emails"
        ],
        "title": "ListMembersIn"
      },
      "ListPatch": {
        "properties": {
          "name": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 100,
                "minLength": 1
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "description": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 500
              },
              {
                "type": "null"
              }
            ],
            "title": "Description"
          },
          "is_public": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Is Public"
          }
        },
        "type": "object",
        "title": "ListPatch"
      },
      "LoginIn": {
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "title": "Email"
          },
          "password": {
            "type": "string",
            "title": "Password"
          },
          "totp": {
            "type": "string",
            "title": "Totp",
            "default": ""
          },
          "mfa_token": {
            "type": "string",
            "title": "Mfa Token",
            "default": ""
          }
        },
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "title": "LoginIn"
      },
      "LoopsImportIn": {
        "properties": {
          "csv": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 20000000
              },
              {
                "type": "null"
              }
            ],
            "title": "Csv"
          },
          "audience": {
            "type": "string",
            "maxLength": 100,
            "minLength": 1,
            "title": "Audience",
            "default": "default"
          },
          "api_key": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 200
              },
              {
                "type": "null"
              }
            ],
            "title": "Api Key"
          }
        },
        "type": "object",
        "title": "LoopsImportIn"
      },
      "MagicLinkIn": {
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "title": "Email"
          }
        },
        "type": "object",
        "required": [
          "email"
        ],
        "title": "MagicLinkIn"
      },
      "MagicLinkVerifyIn": {
        "properties": {
          "mfa_token": {
            "type": "string",
            "title": "Mfa Token"
          },
          "totp": {
            "type": "string",
            "title": "Totp",
            "default": ""
          }
        },
        "type": "object",
        "required": [
          "mfa_token"
        ],
        "title": "MagicLinkVerifyIn"
      },
      "MessageIn": {
        "properties": {
          "content": {
            "type": "string",
            "maxLength": 4000,
            "minLength": 1,
            "title": "Content"
          },
          "context": {
            "additionalProperties": true,
            "type": "object",
            "title": "Context",
            "default": {}
          }
        },
        "type": "object",
        "required": [
          "content"
        ],
        "title": "MessageIn"
      },
      "MoveIn": {
        "properties": {
          "folder_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Folder Id"
          }
        },
        "type": "object",
        "title": "MoveIn"
      },
      "NameIn": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name"
          }
        },
        "type": "object",
        "required": [
          "name"
        ],
        "title": "NameIn"
      },
      "PasswordIn": {
        "properties": {
          "current_password": {
            "type": "string",
            "title": "Current Password"
          },
          "new_password": {
            "type": "string",
            "title": "New Password"
          }
        },
        "type": "object",
        "required": [
          "current_password",
          "new_password"
        ],
        "title": "PasswordIn"
      },
      "PaygIn": {
        "properties": {
          "enabled": {
            "type": "boolean",
            "title": "Enabled"
          }
        },
        "type": "object",
        "required": [
          "enabled"
        ],
        "title": "PaygIn"
      },
      "RampIn": {
        "properties": {
          "target_daily": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Target Daily"
          },
          "note": {
            "type": "string",
            "title": "Note",
            "default": ""
          }
        },
        "type": "object",
        "title": "RampIn"
      },
      "RegisterIn": {
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "title": "Email"
          },
          "password": {
            "type": "string",
            "minLength": 8,
            "title": "Password"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          }
        },
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "title": "RegisterIn"
      },
      "RescheduleIn": {
        "properties": {
          "scheduled_at": {
            "type": "string",
            "title": "Scheduled At"
          }
        },
        "type": "object",
        "required": [
          "scheduled_at"
        ],
        "title": "RescheduleIn"
      },
      "ResendAttachment": {
        "properties": {
          "filename": {
            "type": "string",
            "title": "Filename"
          },
          "content": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "items": {
                  "type": "integer"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Content"
          },
          "path": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Path"
          },
          "content_type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Content Type"
          }
        },
        "type": "object",
        "required": [
          "filename"
        ],
        "title": "ResendAttachment"
      },
      "ResendDomainIn": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name"
          },
          "region": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Region"
          }
        },
        "type": "object",
        "required": [
          "name"
        ],
        "title": "ResendDomainIn"
      },
      "ResendEmailIn": {
        "properties": {
          "from": {
            "type": "string",
            "title": "From"
          },
          "to": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            ],
            "title": "To"
          },
          "subject": {
            "type": "string",
            "title": "Subject"
          },
          "html": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Html"
          },
          "text": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Text"
          },
          "cc": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cc"
          },
          "bcc": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Bcc"
          },
          "reply_to": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Reply To"
          },
          "headers": {
            "additionalProperties": {
              "type": "string"
            },
            "type": "object",
            "title": "Headers",
            "default": {}
          },
          "attachments": {
            "items": {
              "$ref": "#/components/schemas/ResendAttachment"
            },
            "type": "array",
            "title": "Attachments",
            "default": []
          },
          "tags": {
            "items": {
              "$ref": "#/components/schemas/ResendTag"
            },
            "type": "array",
            "title": "Tags",
            "default": []
          },
          "scheduled_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Scheduled At"
          }
        },
        "type": "object",
        "required": [
          "from",
          "to",
          "subject"
        ],
        "title": "ResendEmailIn"
      },
      "ResendImportIn": {
        "properties": {
          "api_key": {
            "type": "string",
            "maxLength": 200,
            "minLength": 8,
            "title": "Api Key"
          },
          "domains": {
            "type": "boolean",
            "title": "Domains",
            "default": true
          },
          "contacts": {
            "type": "boolean",
            "title": "Contacts",
            "default": true
          },
          "templates": {
            "type": "boolean",
            "title": "Templates",
            "default": true
          },
          "suppressions": {
            "type": "boolean",
            "title": "Suppressions",
            "default": true
          }
        },
        "type": "object",
        "required": [
          "api_key"
        ],
        "title": "ResendImportIn"
      },
      "ResendTag": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name"
          },
          "value": {
            "type": "string",
            "title": "Value"
          }
        },
        "type": "object",
        "required": [
          "name",
          "value"
        ],
        "title": "ResendTag"
      },
      "SegmentCondition": {
        "properties": {
          "field": {
            "type": "string",
            "title": "Field"
          },
          "op": {
            "type": "string",
            "title": "Op",
            "default": "eq"
          },
          "value": {
            "title": "Value"
          }
        },
        "type": "object",
        "required": [
          "field"
        ],
        "title": "SegmentCondition"
      },
      "SegmentIn": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name"
          },
          "audience": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Audience"
          },
          "include_unsubscribed": {
            "type": "boolean",
            "title": "Include Unsubscribed",
            "default": false
          },
          "match": {
            "type": "string",
            "title": "Match",
            "default": "all"
          },
          "conditions": {
            "items": {
              "$ref": "#/components/schemas/SegmentCondition"
            },
            "type": "array",
            "title": "Conditions",
            "default": []
          }
        },
        "type": "object",
        "required": [
          "name"
        ],
        "title": "SegmentIn"
      },
      "SegmentPreviewIn": {
        "properties": {
          "audience": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Audience"
          },
          "include_unsubscribed": {
            "type": "boolean",
            "title": "Include Unsubscribed",
            "default": false
          },
          "match": {
            "type": "string",
            "title": "Match",
            "default": "all"
          },
          "conditions": {
            "items": {
              "$ref": "#/components/schemas/SegmentCondition"
            },
            "type": "array",
            "title": "Conditions",
            "default": []
          },
          "search": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Search"
          },
          "limit": {
            "type": "integer",
            "title": "Limit",
            "default": 50
          },
          "offset": {
            "type": "integer",
            "title": "Offset",
            "default": 0
          }
        },
        "type": "object",
        "title": "SegmentPreviewIn"
      },
      "SettingsIn": {
        "properties": {
          "enabled": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Enabled"
          },
          "forward_to": {
            "anyOf": [
              {
                "type": "string",
                "format": "email"
              },
              {
                "type": "null"
              }
            ],
            "title": "Forward To"
          },
          "forward": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Forward"
          },
          "auto_unsubscribe": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Auto Unsubscribe"
          }
        },
        "type": "object",
        "title": "SettingsIn"
      },
      "SuppressionIn": {
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "title": "Email"
          },
          "reason": {
            "type": "string",
            "title": "Reason",
            "default": "unsubscribe"
          },
          "note": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Note"
          }
        },
        "type": "object",
        "required": [
          "email"
        ],
        "title": "SuppressionIn"
      },
      "TeamGrantIn": {
        "properties": {
          "email": {
            "type": "string",
            "title": "Email"
          },
          "role": {
            "type": "string",
            "title": "Role"
          }
        },
        "type": "object",
        "required": [
          "email",
          "role"
        ],
        "title": "TeamGrantIn"
      },
      "TeamInviteIn": {
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "title": "Email"
          }
        },
        "type": "object",
        "required": [
          "email"
        ],
        "title": "TeamInviteIn"
      },
      "TemplateIn": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name"
          },
          "subject": {
            "type": "string",
            "title": "Subject"
          },
          "html": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Html"
          },
          "text": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Text"
          },
          "design": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Design"
          }
        },
        "type": "object",
        "required": [
          "name",
          "subject"
        ],
        "title": "TemplateIn"
      },
      "TotpEnableIn": {
        "properties": {
          "code": {
            "type": "string",
            "title": "Code"
          }
        },
        "type": "object",
        "required": [
          "code"
        ],
        "title": "TotpEnableIn"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          },
          "input": {
            "title": "Input"
          },
          "ctx": {
            "type": "object",
            "title": "Context"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      },
      "WebhookIn": {
        "properties": {
          "url": {
            "type": "string",
            "title": "Url"
          },
          "events": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Events",
            "default": []
          },
          "format": {
            "type": "string",
            "enum": [
              "sendflit",
              "resend"
            ],
            "title": "Format",
            "default": "sendflit"
          }
        },
        "type": "object",
        "required": [
          "url"
        ],
        "title": "WebhookIn"
      },
      "app__admin__PlanIn": {
        "properties": {
          "plan": {
            "type": "string",
            "title": "Plan"
          },
          "custom_limits": {
            "additionalProperties": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ]
            },
            "type": "object",
            "title": "Custom Limits",
            "default": {}
          },
          "note": {
            "type": "string",
            "title": "Note",
            "default": ""
          }
        },
        "type": "object",
        "required": [
          "plan"
        ],
        "title": "PlanIn"
      },
      "app__api__PlanIn": {
        "properties": {
          "plan": {
            "type": "string",
            "title": "Plan"
          }
        },
        "type": "object",
        "required": [
          "plan"
        ],
        "title": "PlanIn"
      },
      "app__api__SendIn": {
        "properties": {
          "from": {
            "type": "string",
            "title": "From"
          },
          "to": {
            "type": "string",
            "format": "email",
            "title": "To"
          },
          "to_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "To Name"
          },
          "cc": {
            "items": {
              "type": "string",
              "format": "email"
            },
            "type": "array",
            "title": "Cc",
            "default": []
          },
          "bcc": {
            "items": {
              "type": "string",
              "format": "email"
            },
            "type": "array",
            "title": "Bcc",
            "default": []
          },
          "subject": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Subject"
          },
          "html": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Html"
          },
          "text": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Text"
          },
          "reply_to": {
            "anyOf": [
              {
                "type": "string",
                "format": "email"
              },
              {
                "type": "null"
              }
            ],
            "title": "Reply To"
          },
          "headers": {
            "additionalProperties": {
              "type": "string"
            },
            "type": "object",
            "title": "Headers",
            "default": {}
          },
          "scheduled_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Scheduled At"
          },
          "template_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Template Id"
          },
          "template_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Template Name"
          },
          "variables": {
            "additionalProperties": {
              "type": "string"
            },
            "type": "object",
            "title": "Variables",
            "default": {}
          },
          "attachments": {
            "items": {
              "$ref": "#/components/schemas/AttachmentIn"
            },
            "type": "array",
            "title": "Attachments",
            "default": []
          }
        },
        "type": "object",
        "required": [
          "from",
          "to"
        ],
        "title": "SendIn"
      },
      "app__replies__SendIn": {
        "properties": {
          "subject": {
            "type": "string",
            "maxLength": 300,
            "minLength": 1,
            "title": "Subject"
          },
          "body": {
            "type": "string",
            "maxLength": 20000,
            "minLength": 1,
            "title": "Body"
          }
        },
        "type": "object",
        "required": [
          "subject",
          "body"
        ],
        "title": "SendIn"
      }
    },
    "securitySchemes": {
      "HTTPBearer": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "HTTPBearer": []
    }
  ]
}
